.img {
   position: relative;
   width: 7em;
   left: 1%;
}
.logo {
   padding: 5px 20px 0 0;
   /* position: fixed; */
   /* left: 30%; */
}

.modal_window {
   /* display: flex; */
}

.leaveModel {
   background: #dfdfdf88;
   border: none;
   border-radius: 100px;
   color: rgb(22, 22, 22);
   padding: 10px 14px 10px 14px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   justify-content: flex-end;
   margin: 30px 2px 0 2px;
   transition-duration: 0.4s;
   cursor: pointer;
   text-transform: uppercase;
}
.leaveModel:hover {
   color: rgb(255, 255, 255);
   background: #24242473;
}

/* .main_nav {
   border-top-width: 1px;
   border-top-color: #e4e7eb;
   border-top-style: solid;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 0.75rem 0.5rem 0.25rem 0.5rem;
} */
